@import url('https://fonts.googleapis.com/css?family=Almendra');

*{margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
  height: 100%;
}

body{
  font-family: Almendra, serif;
  color: rgb(221, 121, 0);
  font-size: 4rem;
  min-height: 100vh;
  background: rgba(255, 135, 1, 1.0);
  background: radial-gradient(ellipse at center, rgba(255, 135, 1, 1.0), rgba(0, 0, 0, 1.0));
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1{
  font-size: 5rem;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 9px;
  color: rgb(255, 138, 43);
  text-shadow: rgb(0, 0, 0) -5px -4px 4px;
}

p{
  color:rgb(255, 95, 2);
  font-size: 3rem;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

div{
  margin: auto auto;
  width: 900px;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 57, 23, 0.582);
}

#game div {
  border: 2px solid rgb(184, 114, 1);
  border-radius: 5%;
  width: 20%;
  height: 150px;
  margin: 20px;
  display: inline-block;
}

button{
  background: rgb(255, 163, 43);
  background-image: linear-gradient(top bottom, rgb(255, 163, 43), rgb(221, 121, 0));
  border-radius: 5px;
  box-shadow: 3px 2px 7px rgb(255, 138, 43);
  color: black;
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom: 30px;
  font-family: Almendra, serif;
  font-weight: bolder;
}

button:hover {
  background: rgb(255, 124, 18);
  background-image: linear-gradient(top bottom, rgb(255, 95, 2), rgba(214, 68, 0));
  text-decoration: none;
}
